*{margin:0;padding:0}
body,html{width:100%;height:100%}
body{font-family:"microsoft yahei",proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;color:#333;font-size:14px;background:#fff}
a,button,input,select{-webkit-tap-highlight-color:transparent;font-family:"microsoft yahei",proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;outline:0}
a{text-decoration:none}
button,input[type=button],input[type=password],input[type=text]{border:none;-webkit-appearance:none}
li,ul{list-style:none}
input::-webkit-input-placeholder{color:#9b9e9f}
input[type=checkbox]{border:thin solid #d9d9d9;width:15px;height:15px;vertical-align:middle;margin-right:5px}
button{-webkit-user-select:none;user-select:none}
.footer{text-align:center;padding:30px 0}
.header{position:relative}
.header .banner-name{background:url(../images/dw_ico.png) no-repeat;background-size:13px;height:19px;line-height:19px;color:#5383a5;position:absolute;bottom:10px;left:18px;text-indent:20px}
.header .banner-panel{position:absolute;top:35%;left:0;text-indent:20px;font-size:28px}
.bannerBg{display:block;width:100%}
.boxWrapper{padding:15px 21px;border-top:2px solid #f5f5f5}
div.boxWrapper:first-child{border:none}
.boxWrapper h3{font-size:16px;margin-bottom:15px}
.boxWrapper h3 span{float:right;font-weight:400}
.boxWrapper button{padding:10px 0;width:100%;color:#fff;border-radius:7px;font-size:16px}
.dwnApp ul{padding-top:3px}
.dwnApp li{background:url(../images/dot_ico.png) 0 7px no-repeat;background-size:4px;font-size:14px;padding-left:10px;margin-top:7px}
.G_orange h3{color:#d46e00}
.G_red h3{color:#d12236}
.G_red #yzm{color:#d12236}
#login,#loginAccount{background:#fea520;border-bottom:2px solid #d38b1f;margin:6px 0}
#login:active,#loginAccount:active{background:#ed9a20;border-bottom:2px solid #d48b1f}
.G_red #login{background:#d12236;border:none}
.G_red #login:active{background:#ab1b2c}
#login:disabled{background:#ea9d5f}
.G_red #login:disabled{background:#d14242}
#weixinAuthor{padding:7px 0;background:#2fdf33;border-bottom:2px solid #40c243}
#weixinAuthor i{background:url(../images/weixin_ico.png) no-repeat;background-size:33px;width:33px;height:27px;display:inline-block;vertical-align:middle;margin-right:7px}
#weixinAuthor:active{background:#2ac82e;border-bottom:2px solid #38bf37}
#weixinAuthor:disabled{background:#7edd80}
.appDownload{font-size:16px;padding:10px 0;color:#fff;text-align:center;width:100%;display:block;border-radius:5px;background:#51adf1;border-bottom:2px solid #489bd8}
.appDownload:active{color:#fff;background:#43a0de;border-bottom:2px solid #4595cf}
.inputWrapper{background:#efefef;border-radius:7px;position:relative;margin-bottom:7px;border:1px solid #d9d9d9}
.inputWrapper input{border-radius:inherit;padding:14px 0;font-size:13px;text-indent:18px;background:0 0;width:100%}
.wifiWrapper .borderRed{border:1px solid #f36144}
.wifiWrapper label{font-size:13px;color:#878787}
.wifiWrapper label a{text-decoration:underline;color:#333}
#yzm{padding:14px 0;color:#489ad8;border-radius:0;border-top-right-radius:7px;border-bottom-right-radius:7px;background:0 0;width:90px;font-size:13px;text-decoration:underline;display:none;position:absolute;right:0;top:0}
#yzm:disabled{color:#999}
.wifiWrapper p{margin-top:7px;font-size:13px;color:#9e9e9e;text-align:left}
#autoAccount{background:url(../images/btn.png) no-repeat;background-size:144px;width:144px;height:35px;position:absolute;bottom:2px;left:50%;margin-left:-72px;font-size:14px}
.ns_msg{color:#4ed754;text-align:center;display:block}
.ns_ctx{padding:0 21px}
.ns_ctx h3{font-size:13px}
.ns_ctx p{text-align:justify;line-height:1.5;margin-top:6px}
.ns_qrcode{display:block;width:200px;height:200px;margin:0 auto}
.ns_qrcode img{display:block;width:200px;height:200px}